
.terminal {
    -fx-padding: 8;
    -fx-margin: 8;
    -fx-background-color: #11151b;
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-fill: #d7d7d7;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.monospace {
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-fill: #d7d7d7;
    -fx-font-size: 16;
}

.terminal-error {
    -fx-fill: #fc323f;
}

.terminal .caret {
    -fx-stroke: white;
}

