.lineno {
    -fx-font-size: 16px;
    -fx-text-alignment: right;
}

.code-editor .text {
    -fx-font-family: "JetBrains Mono", monospace !important;
    -fx-font-weight: 500;
}

.code-editor.theme-dark {
    -fx-background-color: #272D3F;
}

.code-editor.theme-dark .text {
    -fx-fill: #eee;
}

.code-editor.theme-dark .caret {
    -fx-stroke: white;
}

.code-editor.theme-dark .selection {
    -fx-fill: #323B53;
}

.code-editor.theme-dark .paragraph-box:has-caret {
    -fx-background-color: #293247;
}

.code-editor.theme-dark .lineno {
    -fx-background-color: #1C202D;
}

.code-editor.theme-dark .syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #FF76E1;
}

.code-editor.theme-dark .syntax-symbol {
    -fx-fill: #939393;
}

.code-editor.theme-dark .syntax-control {
    -fx-font-weight: bold;
    -fx-fill: #FFBB56;
}

.code-editor.theme-dark .syntax-function {
    -fx-fill: #B6CAFF;
}

.code-editor.theme-dark .syntax-comment {
    -fx-fill: #595959;
}

.code-editor.theme-dark .syntax-string {
    -fx-fill: #61EA90;
}

.code-editor.theme-dark .syntax-digit {
    -fx-fill: #52C1FF;
}

.code-editor.theme-light {
    -fx-background-color: #DEE3F1;
}

.code-editor.theme-light .text {
    -fx-fill: #1D1F26;
}

.code-editor.theme-light .selection {
    -fx-fill: #DAE1F3;
}

.code-editor.theme-light .paragraph-box:has-caret {
    -fx-background-color: #EDF2FF;
}

.code-editor.theme-light .syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #FF76E1;
}

.code-editor.theme-light .syntax-symbol {
    -fx-fill: #3F3F3F;
}

.code-editor.theme-light .syntax-control {
    -fx-font-weight: bold;
    -fx-fill: #BC7409;
}

.code-editor.theme-light .syntax-function {
    -fx-fill: #3E66D0;
}

.code-editor.theme-light .syntax-comment {
    -fx-fill: #595959;
}

.code-editor.theme-light .syntax-string {
    -fx-fill: #10A543;
}

.code-editor.theme-light .syntax-digit {
    -fx-fill: #1494DC;
}

.code-editor.theme-light .lineno {
    -fx-background-color: #BEE8FF;
}

