/*General*/
.text {
    -fx-fill: #eee;
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
    -fx-line-spacing: 4px;
}

.bold {
    -fx-font-weight: bold;
}

.icon {
    -fx-font-family: "Material Icons";
    -fx-font-weight: normal;
    -fx-font-size: 20px;
    -fx-fill: #eee;
}

.monospace {
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-weight: normal;
    -fx-fill: #eee;
}

/*Navigation*/
.nav-item.active {
    -fx-background-color: #FF3D23;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.track, .increment-button, .decrement-button {
    -fx-background-color: #150F28 !important;
    -fx-border-color: #150F28 !important;
}

.thumb {
    -fx-background-color: #E2E2E2;
}

/*Heading*/
.heading {
    -fx-font-weight: bold;
}

.heading.large {
    -fx-font-size: 48px;
}

.heading.medium {
    -fx-font-size: 36px;
}

.heading.small {
    -fx-font-size: 24px;
}

.heading.tiny {
    -fx-font-size: 18px;
}

.heading-description {
    -fx-font-size: 20px;
}

.terminal-error, .failed .text, .failed .icon {
    -fx-fill: #fc323f;
}

.scroll-pane {
    -fx-stroke: transparent;
}

