/*General*/
.text {
    -fx-fill: #eee;
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
}

.icon {
    -fx-font-family: "Material Icons";
    -fx-font-weight: normal;
    -fx-fill: #fff;
}

/*Navigation*/
.nav-item.active {
    -fx-background-color: #FF3D23;
}


.track, .increment-button, .decrement-button {
    -fx-background-color: #200D57;
    -fx-border-color: #200D57;
    -fx-stroke-color: #200D57;
}

.thumb {
    -fx-background-color: #fff;
}

/*Heading*/
.heading {
    -fx-font-weight: bold;
}

.heading.large {
    -fx-font-size: 48px;
}

.heading.small {
    -fx-font-size: 24px;
}

-heading-description {
    -fx-font-size: 20px;
}

/*Code editor*/
.code-editor {
    -fx-background-color: #1B1139;
}
.code-editor .selection {
    -fx-fill: #442899;
}

.code-editor .text {
    -fx-font-family: "monospace" !important;
    -fx-font-weight: 500;
}

.syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #A54AFF;
}

.syntax-symbol {
    -fx-fill: #AA80D4;
}

.syntax-control {
    -fx-font-weight: bold;
    -fx-fill: #DEBDFF;
}

.syntax-function {
    -fx-fill: #AF6EF1;
}

.syntax-comment {
    -fx-fill: #656565;
}

.syntax-string {
    -fx-fill: #139CFF;
}

.paragraph-box:has-caret {
    -fx-background-color: #201444;
}

.lineno {
    -fx-pref-width: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #130A2E;
}

.caret {
    -fx-stroke: white;
}