/*General*/
.text {
    -fx-fill: #eee;
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
}

.icon {
    -fx-font-family: "Material Icons";
    -fx-font-weight: normal;
    -fx-fill: #fff;
}

/*Navigation*/
.nav-item.active {
    -fx-background-color: #FF3D23;
}


.track, .increment-button, .decrement-button {
    -fx-background-color: #200D57;
    -fx-border-color: #200D57;
    -fx-stroke-color: #200D57;
}

.thumb {
    -fx-background-color: #fff;
}

/*Heading*/
.heading {
    -fx-font-weight: bold;
}

.heading.large {
    -fx-font-size: 48px;
}

.heading.small {
    -fx-font-size: 24px;
}

-heading-description {
    -fx-font-size: 20px;
}

/*Code editor*/
.code-editor {
}

.code-editor .text {
        -fx-font-family: "monospace" !important;
}

.syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #FF3D23;
}

.syntax-symbol {
    -fx-fill: teal;
}

.syntax-control {
    -fx-fill: red;
}

.syntax-function {
    -fx-fill: lightgray;
}

.syntax-comment {
    -fx-fill: gray;
}

.syntax-string {
    -fx-fill: gray;
}

.paragraph-box:has-caret {
    -fx-background-color: #381A90;
}

.lineno {
    -fx-pref-width: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #1A0A47;
}

.caret {
    -fx-stroke: white;
}