.nav-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #fff;
}

.nav-item {
    -fx-background-radius: 10px;
    -fx-padding: 12px 16px;
}

.nav-item.active {
    -fx-background-color: #FF3D23;
}

.text {
    -fx-font-family: "Montserrat";
}

.icon {
    -fx-font-family: "Material Icons";
    -fx-font-weight: normal;
}