/*General*/
.text {
    -fx-fill: #eee;
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
}

.bold {
    -fx-font-weight: bold;
}

.icon {
    -fx-font-family: "Material Icons";
    -fx-font-weight: normal;
    -fx-font-size: 20px;
    -fx-fill: #eee;
}

.monospace {
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-weight: normal;
    -fx-fill: #eee;
}

/*Navigation*/
.nav-item.active {
    -fx-background-color: #FF3D23;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.track, .increment-button, .decrement-button {
    -fx-background-color: #150F28 !important;
    -fx-border-color: #150F28 !important;
}

.thumb {
    -fx-background-color: #E2E2E2;
}

/*Heading*/
.heading {
    -fx-font-weight: bold;
}

.heading.large {
    -fx-font-size: 48px;
}

.heading.medium {
    -fx-font-size: 36px;
}

.heading.small {
    -fx-font-size: 24px;
}

.heading.tiny {
    -fx-font-size: 18px;
}

.heading-description {
    -fx-font-size: 20px;
}

/*Code editor*/
.code-editor.theme-dark {
    -fx-background-color: #272D3F;
}

.code-editor.theme-dark .text {
    -fx-fill: #eee;
}

.code-editor.theme-dark .caret {
    -fx-stroke: white;
}

.code-editor.theme-dark .selection {
    -fx-fill: #323B53;
}

.code-editor.theme-dark .paragraph-box:has-caret {
    -fx-background-color: #293247;
}

.code-editor.theme-dark .lineno {
    -fx-background-color: #1C202D;
}

.code-editor.theme-dark .syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #FF76E1;
}

.code-editor.theme-dark .syntax-symbol {
    -fx-fill: #939393;
}

.code-editor.theme-dark .syntax-control {
    -fx-font-weight: bold;
    -fx-fill: #FFBB56;
}

.code-editor.theme-dark .syntax-function {
    -fx-fill: #B6CAFF;
}

.code-editor.theme-dark .syntax-comment {
    -fx-fill: #595959;
}

.code-editor.theme-dark .syntax-string {
    -fx-fill: #61EA90;
}

.code-editor.theme-dark .syntax-digit {
    -fx-fill: #52C1FF;
}

.code-editor.theme-light {
    -fx-background-color: #DEE3F1;
}

.code-editor.theme-light .text {
    -fx-fill: #1D1F26;
}

.code-editor.theme-light .selection {
    -fx-fill: #DAE1F3;
}

.code-editor.theme-light .paragraph-box:has-caret {
    -fx-background-color: #EDF2FF;
}

.code-editor.theme-light .syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #FF76E1;
}

.code-editor.theme-light .syntax-symbol {
    -fx-fill: #3F3F3F;
}

.code-editor.theme-light .syntax-control {
    -fx-font-weight: bold;
    -fx-fill: #BC7409;
}

.code-editor.theme-light .syntax-function {
    -fx-fill: #3E66D0;
}

.code-editor.theme-light .syntax-comment {
    -fx-fill: #595959;
}

.code-editor.theme-light .syntax-string {
    -fx-fill: #10A543;
}

.code-editor.theme-light .syntax-digit {
    -fx-fill: #1494DC;
}

.code-editor.theme-light .lineno {
    -fx-background-color: #BEE8FF;
}

.lineno {
    -fx-pref-width: 40px;
    -fx-font-size: 16px;
}

.code-editor .text {
    -fx-font-family: "JetBrains Mono", monospace !important;
    -fx-font-weight: 500;
}

.terminal-error, .failed .text, .failed .icon {
    -fx-fill: #fc323f;
}

.scroll-pane {
    -fx-stroke: transparent;
}

.input-field {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-fill:  rgba(255, 255, 255, 0.1);
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-padding: 15px 20px;
    -fx-text-fill: #eee;
    -fx-font-family: "Montserrat";
    -fx-mark-color: #eee;
}

.input-field .content {
    -fx-background-color: transparent;
}

.input-field .context-menu {
  -fx-background-color: #381A90;
}

.input-field .menu-item:focused {
  -fx-background-color: #FF3D23;
}
