/*General*/
.text {
    -fx-fill: #eee;
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
}

.icon {
    -fx-font-family: "Material Icons";
    -fx-font-weight: normal;
    -fx-font-size: 20px;
    -fx-fill: #eee;
}

.monospace {
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-weight: normal;
    -fx-fill: #eee;
}

/*Navigation*/
.nav-item.active {
    -fx-background-color: #FF3D23;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.track, .increment-button, .decrement-button {
    -fx-background-color: #1D1044 !important;
    -fx-border-color: #1D1044 !important;
}

.thumb {
    -fx-background-color: #E2E2E2;
}

/*Heading*/
.heading {
    -fx-font-weight: bold;
}

.heading.large {
    -fx-font-size: 48px;
}

.heading.small {
    -fx-font-size: 24px;
}

.heading.tiny {
    -fx-font-size: 18px;
}

.heading-description {
    -fx-font-size: 20px;
}

/*Code editor*/
.code-editor {
    -fx-background-color: #272D3F;
}

.code-editor .selection {
    -fx-fill: #323B53;
}

.paragraph-box:has-caret {
    -fx-background-color: #293247;
}


.syntax-keyword {
    -fx-font-weight: bold;
	-fx-fill: #FF76E1;
}

.syntax-symbol {
    -fx-fill: #939393;
}

.syntax-control {
    -fx-font-weight: bold;
    -fx-fill: #FFBB56;
}

.syntax-function {
    -fx-fill: #B6CAFF;
}

.syntax-comment {
    -fx-fill: #595959;
}

.syntax-string {
    -fx-fill: #61EA90;
}

.syntax-digit {
    -fx-fill: #52C1FF;
}

.lineno {
    -fx-pref-width: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #1C202D;
}

.code-editor .text {
    -fx-font-family: "JetBrains Mono", monospace !important;
    -fx-font-weight: 500;
}
.caret {
    -fx-stroke: white;
}

.terminal-error, .failed .text, .failed .icon {
    -fx-fill: #fc323f;
}

.scroll-pane {
    -fx-stroke: transparent;
}